@media print{@page {size: landscape;margin:10%;}}

h1, h2, h3, h4{
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 12pt;
	margin-bottom: -10px;
}

.judul{
	margin-top: 20px;
}

.data{
	margin-top: 25px;
	max-height: 80%;
}

.ttd{
	margin-top: 230px;
	page-break-after: avoid;
}

.tabelttd{
	margin-top: 230px;
	page-break-after: avoid;
}

.footer {
	position:relative;
   top:-20px; 
   height:150px;
}

.judul p{
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	margin-bottom: -5px;
}

.tabel-print th, td{
	padding: 5px;
	text-align: center;
	font-size: 12pt;
	font-family: "Times New Roman", Times, serif;
}

.tabel-print th{
	font-weight: bold;
}

.foot td{
	font-weight: bold;
}